.message-card__wrap {
    border: 1px solid black;

}

.cardlist-area__row {
    margin-bottom: 20px;
}

.message-card__content {
    border: 1px solid red;
    margin: 10px;
    height: 150px;
    overflow: hidden;
}

.message-card__content p {
    background-color: aliceblue;
    margin-bottom: 0px;
}
